<template lang="html">
  <div id="services-page">
    <div class="row mx-0 align-items-center banner">
      <div class="col-12">
        <h1>Servicios</h1>
      </div>
    </div>

    <hr class="line">

    <div class="container mt-5 pb-3 pb-lg-5 content">
      <div class="row">
        <div class="offset-lg-1 mb-4 mb-lg-0 col-lg-5">
          <img class="mb-3 img-fluid icon" src="public/images/pages/services/i-1.png">

          <p class="mb-0">
            Nuestro Horario de atención es de Lunes a Viernes de 9:00 a 3:00 y de 4:00 a 6:30; los días Sábados es de 9:00 a 2:00. Para solicitar una cotización de su vehículo es muy importante tener a la mano el Modelo, Motor, Año y Posición.
          </p>
        </div>

        <div class="col-lg-5">
          <img class="mb-3 img-fluid icon" src="public/images/pages/services/i-2.png">

          <p class="mb-0">
            Contamos con equipo de reparto para el área de Guadalajara. En el caso de que usted sea un cliente foráneo y deseé comprar un producto o refacción se lo podemos enviar por la paquetería o fletera de su preferencia.
          </p>
        </div>
      </div>
    </div>

    <hr class="line">
  </div>

</template>

<script>
export default {
}
</script>
