body, html {
  font-family: 'Open Sans', sans-serif !important;
  color: #000000 !important;
}

.oversized-container{
  @media screen and (min-width: 992px) and (max-width: 1440px){
    max-width: 98% !important;
  }
  @media screen and (min-width: 1441px){
    max-width: 1433px !important;
  }
}

// Cursors
.c-pointer{
  cursor: pointer;
}

// Links
.opacity-hover-link{
  @extend .trans-250;

  &:hover{
    text-decoration: none;
    opacity: 0.85;
  }
}

// Backgrounds
.placed-backg{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
