#purchases-page{
  padding-top: 25px;
  min-height: calc(100vh - 72px - 400px);

  @media screen and (min-width: 992px){
    padding-top: 70px;
  }
  @media screen and (min-width: 1231px){
    padding-top: 155px;
  }

  .main-title{
    font-size: 2.2rem;
    font-weight: 600;
  }

  .table{
    thead{
      tr{
        th,td{
          font-size: 0.9rem;
          font-weight: 600 !important;
        }
      }
    }

    tbody{
      tr{
        th,td{
          padding: 0.95rem 0.4rem;
          font-size: 0.95rem;
        }
      }
    }

    thead, tbody{
      tr{
        th,td{
          vertical-align: middle;
        }

        .col-image{
          text-align: center;
          padding-left: 0;
          padding-right: 0.75rem;
          min-width: 70px;
          width: 110px;

          img{
            max-height: 75px;
          }
        }
        .col-product{
          min-width: 300px;
        }
        .col-sku{
          min-width: 100px;
          width: 135px;
        }
        .col-num{
          min-width: 80px;
          width: 100px;
        }
        .col-btns{
          padding-right: 0;
          min-width: 110px;
          width: 135px;
          text-align: right;
        }
      }
    }
  }

  .btn-dark{
    color: #fff !important;
    font-size: 0.95rem;
    border-radius: 0;
    background-color: $black;
  }
  .btn-dark.btn-sm{
    padding: 0.35rem 0.9rem;
    font-size: 0.8rem;
  }
}
