#contact-page{
  .row-top{
    height: 100px;
    text-align: center;
    h1{
      margin: 0;
      font-size: 3.3rem;
      font-weight: 700;
    }

    @media screen and (max-width: 991px){
      padding-top: 15px;
      height: auto;

      h1{
        font-size: 2.8rem;
      }
    }
  }

  .col-form{
    .form-group{
      .col-form-label{
        padding-bottom: 3px;
        font-size: 0.9rem;
        font-weight: 600;
      }
      .form-control{
        border-color: #cecece;
        border-radius: 0;
        background-color: #f6f6f6;
        resize: none;
      }
    }

    .btn-send{
      width: 200px;
      background-color: $black;
    }
  }

  .col-info{
    font-size: 0.95rem;

    h5{
      font-weight: 700;
    }
    h6{
      font-weight: 0.90rem;
      font-weight: 600;
    }

    .map-link{
      color: #666;
      font-size: 0.875rem;
      font-weight: 600;
    }
  }

  .col-map{
    .vue-map-container{
      // height: 305px;
      height: 330px;
    }
  }
}
