#products-page{
  .title-section{
    height: 210px;
    text-align: center;

    .category-name{
      font-size: 68px;
      font-weight: 700;
    }

    @media screen and (max-width: 1400px){
      height: 190px;

      .category-name{
        font-size: 59px;
      }
    }
    @media screen and (max-width: 575px){
      height: auto;
      padding-top: 2.0rem;
      padding-bottom: 2.0rem;

      .category-name{
        font-size: 44px;
      }
    }
  }

  .search-section{
    color: #fff;
    background-color: $green;
    @include placeholder(#ffffff, 400, normal, 0.9rem);

    .text{
      margin: 0;
      font-weight: 600;
      @media screen and (max-width: 991px){
        font-size: 1.1rem;
      }
      @media screen and (min-width: 992px) and (max-width: 1400px){
        font-size: 1.3rem;
      }
    }
    .form-control{
      height: 38px;
      color: #fff;
      text-align: center;
      font-size: 0.9rem;
      border-radius: 0.6rem;
      border-color: #fff;
      background-color: transparent;
    }
    .btn-dark{
      border-radius: 0.6rem;
      background-color: $black;
      width: 100%;
    }
  }

  .products-section{
    .product-box{
      @extend .trans-250;

      &:hover{
        opacity: 0.8;
        text-decoration: none;
      }

      .row-image{
        height: 272px;
        text-align: center;

        .product-image{
          max-height: 272px;
        }

        @media screen and (max-width: 1330px){
          height: 190px;
          .product-image{
            max-height: 190px;
          }
        }
        @media screen and (max-width: 575px){
          height: auto;
          .product-image{
            max-height: 230px;
          }
        }
      }

      .product-name{
        margin-top: 15px;
        color: #000;
        font-weight: 600;
        font-size: 1.15rem;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

// Detalle de producto
#product-details-page{
  .col-top{
    margin-top: 120px;
    text-align: center;

    h5{
      color: #868686;
      font-size: 1.3rem;
    }
    h2{
      font-size: 62px;
      font-weight: 700;
    }
    @media screen and (max-width: 1130px){
      margin-top: 78px;
      h5{
        font-size: 1.2rem;
      }
      h2{
        font-size: 52px;
      }
    }
    @media screen and (max-width: 767px){
      margin-top: 42px;

      h5{
        font-size: 1.0rem;
      }
      h2{
        font-size: 40px;
      }
    }
    @media screen and (max-width: 575px){
      margin-top: 29px;

      h2{
        font-size: 31px;
      }
    }
  }

  .col-gallery{
    .swiper-container {}
    .swiper-slide {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #fff;
    }

    .gallery-top {
      height: 77%;
      width: 100%;
    }
    .gallery-thumbs {
      height: 23%;
      box-sizing: border-box;
      padding: 10px 0;

      .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.5;
        cursor: pointer;
      }

      .swiper-slide-active {
        opacity: 1;
      }
    }

    .swiper-button-prev, .swiper-button-next{
      width: 38px;
      height: 38px;
      background-color: #000;
      background-size: 13px 20px;
      border-radius: 50%;
      opacity: 0.8;
      @extend .trans-250;
      &:hover{
        opacity: 1;
      }
    }

    @media screen and (max-width: 991px){
      margin-bottom: 2.5rem;
      .gallery-top{
        height: 320px !important;
      }
      .gallery-thumbs{
        height: 90px !important;
      }
    }
    @media screen and (max-width: 575px){
      .gallery-top{
        height: 270px !important;
      }
    }
  }

  .col-info{
    .i-row{
      margin-bottom: 6px;
      padding-top: 4px;
      padding-bottom: 4px;
      color: #868686;
      text-transform: uppercase;
      background-color: #f7f7f7;
      font-size: 1rem;
      @media screen and (max-width: 991px){
        padding-left: 15px;
        padding-right: 15px;
        font-size: 0.90rem;
      }

      p{
        margin: 0
      }
      strong{
        color: #000;
        font-weight: 700;
      }
    }

    .info-title{
      color: $green;
      font-weight: 700;
    }
  }
}
