<template>
  <div id="home-page">

    <section class="container-fluid px-0 banners-section">
      <swiper :options="swBannersOpts">
        <swiper-slide class="placed-backg" :style="'background-image: url('+ banner +');'" v-for="banner in banners" :key="banner.id">
          <div class="row mx-0 h-100 align-items-center slide-content">
            <div class="col-12 text-center">
              <h3>Bandas Automotrices<br /> e Industriales</h3>
            </div>
          </div>
        </swiper-slide>

        <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div>
      </swiper>
    </section>

    <section class="container oversized-container px-0 pt-sm-5 pb-lg-5 mb-5 promos-section">
      <swiper :options="swPromosOpts">
        <swiper-slide v-for="promo in promos" :key="promo.id">
          <router-link class="d-block" to="/productos/detalle">
            <div class="row mx-0 align-items-end slide-content">
              <div class="col-12 px-sm-0 product-box">
                <img class="img-fluid" :src="promo.img">
              </div>
            </div>

            <div class="col-12 px-0 slide-text-content">
              <h6 class="box-title">{{ promo.name }}</h6>
            </div>
          </router-link>
        </swiper-slide>

        <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div>
      </swiper>
    </section>

  </div>
</template>

<script type="text/javascript">
export default {
  data(){
    return{
      banners: [
        'public/images/pages/home/banner.jpg',
        'public/images/pages/home/banner2.jpg',
      ],
      promos: [
        { name: 'BANDAS DE ACCESORIOS MICRO V', img: 'public/images/pages/products/p-1.jpg' },
        { name: 'LODERAS DE CAMIÓN', img: 'public/images/pages/products/p-2.jpg' },
        { name: 'TAPETE ANTIFATIGA', img: 'public/images/pages/products/p-3.jpg' },
        { name: 'Soportes de motor', img: 'public/images/pages/products/p-4.jpg' },
        { name: 'Neopreno SBR', img: 'public/images/pages/products/p-5.jpg' },
        { name: 'BOMBAS DE AGUA', img: 'public/images/pages/products/p-6.jpg' },
      ],

      swBannersOpts: {
        loop: true,
        speed: 900,
        effect: 'fade',
        autoplay: {
          delay: 4500,
          disableOnInteraction: false
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },

      swPromosOpts: {
        loop: true,
        speed: 450,
        slidesPerView: 4,
        spaceBetween: 30,
        // autoplay: {
        //   delay: 4500,
        //   disableOnInteraction: false
        // },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },

        breakpoints: {
          1170: {
            slidesPerView: 3
          },
          991: {
            slidesPerView: 2
          },
          575: {
            slidesPerView: 1
          }
        }
      }
    }
  }
}
</script>
