#header{
  position: relative;
  background-color: $green;
  z-index: 444;

  .navbar{
    .navbar-brand{
      .logo-container{
        display: inline-block;
        width: 100%;
        background-color: #fff;

        img{
          max-width: 100%;
        }
      }
    }

    .header-menu{
      .nav-item{
        .nav-link{
          color: #fff;
          font-size: 1.05rem;
          font-weight: 600;
          cursor: pointer;
        }
      }

      .dropdown{
        .dropdown-toggle{
          &:after{
            border: 0;
          }
        }

        .dropdown-menu{
          border-color: #1E7D4A;
          border-radius: 0;
          background-color: #1E7D4A;

          @media screen and (min-width: 992px){
            top: 132%;
          }

          .dropdown-item{
            color: #fff;
            font-size: 0.9rem;
            background-color: transparent;

            &:hover{
              background-color: #353838 !important;
            }
          }
        }
      }
    }

    .header-search-form{
      @include placeholder(#e4e4e4, 400, normal, 0.85rem);
      .gray-input{
        min-width: 204px;
        height: 41px;
        padding: 0.45rem 0.75rem;
        color: #fff;
        font-size: 0.9rem;
        border-radius: 0;
        background-color: #201D1F;
        border-color: #201D1F;
      }
      .btn-search{
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        height: 41px;
        font-size: 0.85rem;
        border-radius: 0;
        background-color: #353838;
        border-color: #353838
      }
    }
  }

  @media screen and (max-width: 991px){
    .navbar{
      padding-top: 0;
      padding-bottom: 0;

      .navbar-toggler{
        color: #fff;
        border-color: rgba(255, 255, 255, 0.6);
      }

      .navbar-brand{
        width: 64px;

        .logo-container{
          padding: 3px;
        }
      }

      .header-search-form{
        .gray-input{
          width: 80%;
        }
        .btn-search{
          width: 20%;
        }
      }
    }
  }

  @media screen and (min-width: 992px){
    .navbar{
      padding-top: 0;
      padding-bottom: 0;

      .navbar-brand{
        padding-top: 0;
        padding-bottom: 0;
        max-width: 240px;
        height: 72px;

        .logo-container{
          padding: 17px 30px 24px 30px;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
        }
      }

      .header-menu{
        .nav-item{
          position: relative;
          margin-left: 18px;
          padding-right: 18px;

          .nav-link{
            &:after{
              content: " ";
              position: absolute;
              top: 50%;
              margin-top: -11px;
              right: 0;
              height: 22px;
              border-right: 1px solid #fff;
            }
          }

          &:last-child{
            .nav-link{
              &:after{
                display: none;
              }
            }
          }
        }
      }

      .adv-search-box{
        .nav-item{
          .nav-link{
            &:after{
              display: none;
            }
          }

          .btn-advSearch{
            padding-top: 0.3rem;
            line-height: 0.9;
            border-radius: 5px;
            background-color: #0c6535;
          }
        }
      }
    }
  }
  @media screen and (min-width: 992px){
    .btn-mobile{
      display: none;
    }
  }
  @media screen and (max-width: 991px){
    .btn-desktop{
      display: none !important;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1230px){
    .navbar{
      .navbar-brand{
        max-width: 140px;

        .logo-container{
          padding: 14px 12px 15px 12px;
        }
      }

      .header-menu{
        .nav-item{
          margin-left: 10px;
          padding-right: 10px;

          .nav-link{
            font-size: 0.97rem;
          }
        }
      }

      .header-search-form{
        .gray-input{
          min-width: auto;
          width: 182px;
        }
        .btn-search{
          padding-left: 0.8rem;
          padding-right: 0.8rem;
        }
      }
    }
  }
}

// Modal
.modal-advsearch{
  .modal-content{
    .modal-body{
      .btn-close-modal{
        position: absolute;
        top: 10px;
        right: 12px;
        color: #960808;
        font-size: 20px;
        cursor: pointer;
      }

      .form-control, .btn{
        border-radius: 0;
        border-color: #444;
      }
    }
  }
}
