.whatsapp-bigicon{
  position: fixed;
  bottom: 22px;
  right: 20px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #25d366;
  box-shadow: 0px 2px 15px rgba(0,0,0,0.15);
  z-index: 1020;

  .w-icon{
    position: relative;
    top: 12px;
    font-size: 2.2rem;
    color: #fff !important;
  }
}
