<template>
  <header id="header">
    <div class="container oversized-container">
      <b-navbar toggleable="lg" type="dark">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

        <b-navbar-brand to="/">
          <div class="logo-container">
            <img src="public/images/shared/logo.png" alt="Hules Automotrices Becerra">
          </div>
        </b-navbar-brand>

        <b-collapse is-nav id="nav_collapse">
          <b-navbar-nav class="header-menu">

            <b-nav-item-dropdown right>
              <template slot="button-content">
                Productos
              </template>

              <b-dropdown-item to="/productos">Automotriz</b-dropdown-item>
              <b-dropdown-item to="/productos">Industrial</b-dropdown-item>
              <b-dropdown-item to="/productos">Equipo pesado</b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item to="/servicios">Servicios</b-nav-item>
            <b-nav-item to="/empresa">Empresa</b-nav-item>
            <b-nav-item to="/contacto">Contacto</b-nav-item>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto header-search-form">
            <b-nav-form @submit="searchInfo">
              <b-form-input class="gray-input" type="text" placeholder="Buscar en nuestro catálogo" v-model="search.keywords" required />
              <b-button class="btn-search" type="submit"><i class="fas fa-search"></i></b-button>
            </b-nav-form>

            <b-navbar-nav class="header-menu adv-search-box">
              <li class="ml-2 mb-2 my-lg-0 nav-item btn-desktop">
                <a class="nav-link btn-advSearch" @click="$refs.modalAdSearch.show();"> <small class="f-w-600">Busqueda<br>avanzada</small> </a>
              </li>
              <li class="nav-item mb-2 text-right btn-mobile">
                <a class="nav-link btn-advSearch" @click="$refs.modalAdSearch.show();"> <small class="f-w-600">Búsqueda avanzada</small> </a>
              </li>
            </b-navbar-nav>

          </b-navbar-nav>

        </b-collapse>

      </b-navbar>
    </div>

    <!-- Modal "busqueda avanzada" -->
    <b-modal size="lg" class="modal-advsearch" ref="modalAdSearch" hide-header hide-footer>
      <a class="btn-close-modal" @click="$refs.modalAdSearch.hide();">
        <i class="far fa-times-circle"></i>
      </a>

      <h6 class="f-w-600">Búsqueda avanzada</h6>

      <b-form class="row" inline @submit="advSearch">
        <b-input-group class="col-sm-4 mb-3">
          <b-form-select size="sm" v-model="search.marca">
            <option value="">Marca o armadura</option>
            <option value="1">Marca 1</option>
            <option value="2">Marca 2</option>
          </b-form-select>
        </b-input-group>

        <b-input-group class="col-sm-4 px-sm-0 mb-3">
          <b-form-select size="sm" v-model="search.modelo">
            <option value="">Modelo</option>
            <option value="1">Modelo A</option>
            <option value="2">Modelo B</option>
          </b-form-select>
        </b-input-group>

        <b-input-group class="col-sm-4 mb-3">
          <b-form-select size="sm" v-model="search.anio">
            <option value="">Año</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
          </b-form-select>
        </b-input-group>

        <b-input-group class="col-12 mb-3">
          <b-input type="text" size="sm" class="w-100" v-model="search.sku" placeholder="Busqueda libre por SKU" />
        </b-input-group>

        <b-input-group class="offset-sm-8 col-sm-4 mb-2">
          <b-button type="submit" size="sm" class="w-100" variant="dark">Buscar</b-button>
        </b-input-group>
      </b-form>
    </b-modal>

  </header>
</template>

<script type="text/javascript">
export default {
  data(){
    return{
      search:{
        keywords: '',

        // De busqueda avanzada
        marca: '',
        modelo: '',
        anio: '',
        sku: ''
      }
    }
  },

  methods:{
    searchInfo(evt){
      evt.preventDefault();
      console.log('Buscando...');
    },

    advSearch(evt){
      evt.preventDefault();
      console.log('Busqueda avanzada...');

      this.$refs.modalAdSearch.hide();
      this.$router.push({ path: '/productos', query: { keywords: this.search.keywords, marca: this.search.marca }})
    }
  }
}
</script>
