<template lang="html">
  <div id="product-details-page" class="container oversized-container">

    <div class="row">
      <div class="col-12 col-top">
        <h5>Equipo Pesado / Bandas de accesorios Micro V</h5>
        <h2>Equipo Pesado</h2>
      </div>
    </div>

    <div class="row pt-3 pt-sm-5 pb-5">
      <div class="col-lg-5 col-gallery">

        <swiper :options="swiperOptionTop" class="gallery-top" ref="swiperTop">
          <swiper-slide :style="'background-image: url('+ image.img +');'" v-for="image in gallery" :key="image.id"></swiper-slide>

          <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
          <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
        </swiper>
        <!-- swiper2 Thumbs -->
        <swiper :options="swiperOptionThumbs" class="gallery-thumbs" ref="swiperThumbs">
          <swiper-slide :style="'background-image: url('+ thumbnail.img +');'" v-for="thumbnail in gallery" :key="thumbnail.id"></swiper-slide>
        </swiper>

      </div>

      <div class="col-lg-7 col-info">
        <div class="d-block pl-lg-5 i-row">
          <p>
            <strong class="mr-3">MARCA O ARMADURA</strong>
            <span>NISSAN</span>
          </p>
        </div>

        <div class="d-block pl-lg-5 i-row">
          <p>
            <strong class="mr-3">SKU</strong>
            <span>UXNG90488</span>
          </p>
        </div>

        <div class="d-block pl-lg-5 i-row">
          <p>
            <strong class="mr-3">MODELO</strong>
            <span>TIDA</span>
          </p>
        </div>

        <div class="d-block pl-lg-5 i-row">
          <p>
            <strong class="mr-3">MOTOR</strong>
            <span>UXNG90498</span>
          </p>
        </div>

        <div class="d-block pl-lg-5 i-row">
          <p>
            <strong class="mr-3">CATEGORÍAS APLICADAS</strong>
            <span>Deposito de anticongelante</span>
          </p>
        </div>

        <div class="d-block pl-lg-5 i-row">
          <p>
            <strong class="mr-3">RANGO DE AÑOS</strong>
            <span>2001-2009</span>
          </p>
        </div>

        <div class="d-block pl-lg-5">
          <h6 class="my-3 info-title">EQUIVALENCIAS</h6>
        </div>

        <div class="d-block pl-lg-5 i-row">
          <p>
            <strong class="mr-3">DA11814</strong>
          </p>
        </div>
        <div class="d-block pl-lg-5 i-row">
          <p>
            <strong class="mr-3">VA21919</strong>
          </p>
        </div>
        <div class="d-block pl-lg-5 i-row">
          <p>
            <strong class="mr-3">F-390</strong>
          </p>
        </div>

        <div class="d-block mt-4 text-right">
          <a class="btn btn-dark btn-cotizar" @click="cotizar"><i class="fas fa-shopping-basket"></i> Cotizar</a>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  data(){
    return{
      gallery: [
        { img: 'public/images/pages/products/p-1-lg.jpg' },
        { img: 'public/images/pages/products/p-1-lg.jpg' },
        { img: 'public/images/pages/products/p-1-lg.jpg' },
        { img: 'public/images/pages/products/p-1-lg.jpg' },
        { img: 'public/images/pages/products/p-1-lg.jpg' },
      ],

      swiperOptionTop: {
        spaceBetween: 10,
        loop: true,
        loopedSlides: 5, //looped slides should be the same
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
      swiperOptionThumbs: {
        centeredSlides: true,
        spaceBetween: 10,
        slidesPerView: 5,
        touchRatio: 0.2,
        loop: true,
        loopedSlides: 5, //looped slides should be the same
        slideToClickedSlide: true,

        breakpoints: {
          1500:{
            slidesPerView: 4,
            centeredSlides: false
          },
          440: {
            slidesPerView: 3,
            centeredSlides: true
          }
        }
      }
    }
  },

  methods: {
    cotizar(){
      this.$router.push({ path: '/cotizacion' });
    }
  },

  mounted() {
    this.$nextTick(() => {
      const swiperTop = this.$refs.swiperTop.swiper
      const swiperThumbs = this.$refs.swiperThumbs.swiper
      swiperTop.controller.control = swiperThumbs
      swiperThumbs.controller.control = swiperTop
    })
  }
}
</script>
