<template lang="html">
  <div id="products-page">

    <section class="container oversized-container title-section">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h1 class="category-name">Equipo Pesado</h1>
        </div>
      </div>
    </section>

    <section class="container-fluid px-0 py-4 mb-5 search-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 mb-2 mb-md-0 text-center text-lg-left">
            <h4 class="text">Localiza tus refacciones</h4>
          </div>

          <div class="col-md-4 mb-2 mb-md-0">
            <b-form-input type="text"
                      v-model="searchP.keywords"
                      required
                      placeholder="¿Qué esta buscando?">
            </b-form-input>
          </div>

          <div class="col-md-3">
            <b-button type="submit" variant="dark">Buscar</b-button>
          </div>
        </div>
      </div>
    </section>

    <section class="container oversized-container mb-4 products-section">
      <div class="row">
        <router-link class="col-sm-6 col-lg-4 mb-4 product-box" to="/productos/detalle" v-for="product in products" :key="product.id">
          <div class="row align-items-end row-image">
            <div class="col-12">
              <img class="img-fluid product-image" :src="product.img">
            </div>
          </div>

          <h5 class="product-name">{{ product.name }}</h5>
        </router-link>
      </div>
    </section>

  </div>
</template>

<script>
export default {
  data(){
    return{
      products: [
        { name: 'BANDAS DE ACCESORIOS MICRO V', img: 'public/images/pages/products/p-1.jpg' },
        { name: 'LODERAS DE CAMIÓN', img: 'public/images/pages/products/p-2.jpg' },
        { name: 'TAPETE ANTIFATIGA', img: 'public/images/pages/products/p-3.jpg' },
        { name: 'Soportes de motor', img: 'public/images/pages/products/p-4.jpg' },
        { name: 'Neopreno SBR', img: 'public/images/pages/products/p-5.jpg' },
        { name: 'BOMBAS DE AGUA', img: 'public/images/pages/products/p-6.jpg' },
        { name: 'LODERAS DE CAMIÓN', img: 'public/images/pages/products/p-2.jpg' },
        { name: 'TAPETE ANTIFATIGA', img: 'public/images/pages/products/p-3.jpg' },
        { name: 'BANDAS DE ACCESORIOS MICRO V', img: 'public/images/pages/products/p-1.jpg' },
      ],

      searchP: {
        keywords: ''
      }
    }
  }
}
</script>
